nav{
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position:fixed;
    z-index: 10;   
    width: 100%;
}

nav img{
    width: 15%;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    padding: 20px 30px;
    color: white;
    cursor: pointer;
    
}

.contact{
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    color:black;
    cursor: pointer;
    width: fit-content;
    border: none;
}

.menuicon{
    width: 30px;
    visibility: hidden;
}

@media (max-width:1100px) {
   
    nav ul li{
       padding: 10px 10px;
    }
}

@media (max-width:870px){
    nav{
        padding: 5px 10px;
    }
    
    nav ul {
        transition: 0.5s;
        width: 230px;
        position: fixed;
        background-color:green;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
       
    }

    nav ul li{
        margin: 25px 40px;
        display: block;
    }

    nav .logo{
        
        padding: 10px ;
        width: 130px;
    }

    .menuicon{
       position: absolute;
       width: 3em;
       top: 1%;
       right: 5%;
       visibility: visible;
       cursor: pointer;
    }

    .hidemenu{
        right: -200%;
    }
}
